<link href="/assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Business</span><i class="fa fa-circle"></i></li>
                <li><span>Organisation</span><i class="fa fa-circle"></i></li>
                <li><span>Profile</span></li>
            </ul>
        </div>
        
        <h1 class="page-title"></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> </div>
                <div class="profile-sidebar">
                    <div class="portlet light profile-sidebar-portlet">
                        <div class="profile-userpic">
                            <img src="<%= (data.coverImage ? data.coverImage : '/al/img/avatar.png')%>" class="img-responsive" alt=""> 
                        </div>
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name"> <%= user.name %> </div>
                            <div class="profile-usertitle-job"> Admin </div>
                        </div>
                        <!-- <div class="profile-userbuttons">
                            <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                            <button type="button" class="btn btn-circle red btn-sm">Message</button>
                        </div> -->
                    </div>
                    <div class="portlet light ">
                        <div>
                            <div class="profile-usermenu">
                               <ul class="nav">
                                    <li class="active">
                                        <a href="/organisation/detail">
                                            <i class="icon-settings"></i> Account Settings </a>
                                    </li>
                                    <li>
                                        <a href="/organisation/preference">
                                            <i class="icon-info"></i> Preferences </a>
                                    </li>
                                    <li>
                                        <a href="/organisation/templates">
                                            <i class="fa fa-code"></i> Templetes </a>
                                    </li>
                                    <li>
                                        <a href="/organisation/documents/<%= user.uname %>">
                                            <i class="fa fa-folder-o"></i> Documents </a>
                                    </li>
                                    <li>
                                        <a href="/organisation/integration/<%= user.uname %>">
                                            <i class="fa fa-exchange"></i> Integration </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                 <div class="profile-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light ">
                                    <div class="portlet-title tabbable-line">
                                        <div class="caption caption-md">
                                            <i class="icon-globe theme-font hide"></i>
                                            <span class="caption-subject font-blue-madison bold uppercase">Business Profile</span>
                                        </div>
                                        <ul class="nav nav-tabs">
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">Basic Info</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_2" data-toggle="tab">Legal Info</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_3" data-toggle="tab">Social Info</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_4" data-toggle="tab">Upload Images</a>
                                            </li>
                                            <li>
                                                <a href="#tab_1_5" data-toggle="tab">Change Password</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="tab-content">
                                            <!-- PERSONAL INFO TAB -->
                                            <input type="hidden" id="orgId" value="<%= data.id %>">
                                            <input type="hidden" id="apiUrl" value="<%= api.url %>"/>
                                            <input type="hidden" id="token" value="<%= user.token %>"/>
                                            <div class="tab-pane active" id="tab_1_1">
                                                <form role="form" action="<%= api.url %>/api/org/<%= data.id %>?token=<%= user.token %>" class="orgs_add_form">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="control-label">Company Name</label>
                                                            <input type="text" placeholder="Company Name" class="form-control" name="orgName" id="orgName" value="<%= data.name %>" disabled /> 
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label">Website</label>
                                                            <input type="text" placeholder="Website" class="form-control" name="website" id="website" value="<%= data.website %>" /> 
                                                        </div>
                                                       
                                                        <div class="form-group">
                                                            <label class="control-label">Mobile Number</label>
                                                            <input type="text" placeholder="Mobile Number" class="form-control" name="mobile" id="mobile" value="<%= data.mobile %>" maxlength="10" disabled/> 
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label">Email</label>
                                                            <input type="text" placeholder="Email" class="form-control" name="email" id="email" value="<%= data.email %>"/> 
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="control-label">Address</label>
                                                            <textarea class="form-control" name="address" id="address" rows="4" placeholder="address"><%= (data.address? data.address: '') %></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                    <div class="row">
                                                        <div class="col-md-offset-3 col-md-9">
                                                            <button class="btn green" type="submit" id="editProduct"> Update </button>
                                                            <button type="reset" class="btn default">Reset</button>
                                                        </div>
                                                    </div>
                                                </div>
                                                </form>
                                            </div>
                                            <!-- END PERSONAL INFO TAB -->
                                            <!-- CHANGE PASSWORD TAB -->
                                            <div class="tab-pane" id="tab_1_2">
                                                <form action="<%= api.url %>/api/org/<%= data.id %>?token=<%= user.token %>" class="orgs_add_form">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="control-label">PAN Number</label>
                                                            <input type="text" placeholder="Pan number" class="form-control" name="panNumber" id="panNumber" value="<%= data.panNumber %>" /> 
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">TAN Number</label>
                                                            <input type="text" placeholder="TAN number" class="form-control" name="tanNumber" id="tanNumber" value="<%= data.tanNumber %>" /> 
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">ServiceTax Number</label>
                                                            <input type="text" placeholder="ServiceTax number" class="form-control" name="tanNumber" id="ServiceTaxNumber" value="<%= data.ServiceTaxNumber %>" /> 
                                                        </div>

                                                        <div class="form-group"> 
                                                            <label class="control-label">GSTIN Number</label>
                                                            <input type="text" placeholder="GSTIN" class="form-control" name="gstNumber" id="gstNumber" value="<%= data.gstNumber %>" /> 
                                                        </div>

                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button class="btn green" type="submit" id="editProduct"> Update </button>
                                                                <button type="reset" class="btn default">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                           
                                            <div class="tab-pane" id="tab_1_3">
                                                <form role="form" action="<%= api.url %>/api/org/<%= data.id %>?token=<%= user.token %>" class="orgs_add_form">
                                                    <div class="form-body">
                                                        <div class="form-group">
                                                            <label class="control-label">Facebook </label>
                                                            <div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-facebook"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" placeholder="Facebook" name="facebook" id="facebook" value="<%= data.facebook %>">
                                                                 </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Twitter</label>
                                                            <div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-twitter"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" placeholder="Twitter" name="twitter" id="twitter" value="<%= data.twitter %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Linked In</label>
                                                            <div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-linkedin"></i>
                                                                    </span>
                                                                    <input type="text" class="form-control" placeholder="Linked iN" name="linkedIn" id="linkedIn" value="<%= data.linkedIn %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="control-label">Youtube</label>
                                                            <div>
                                                                <div class="input-group">
                                                                    <span class="input-group-addon">
                                                                        <i class="fa fa-youtube"></i>
                                                                    </span>
                                                                   <input type="text" class="form-control" placeholder="Youtube" name="youtube" id="youtube" value="<%= data.youtube %>">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-actions">
                                                        <div class="row">
                                                            <div class="col-md-offset-3 col-md-9">
                                                                <button class="btn green" type="submit" id="editProduct"> Update </button>
                                                                <button type="reset" class="btn default">Reset</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                                            <!-- END PRIVACY SETTINGS TAB -->
                                            <!-- CHANGE AVATAR TAB -->
                                            <div class="tab-pane" id="tab_1_4">
                                                
                                                <form action="<%= api.url %>/api/org/<%= data.id %>?token=<%= user.token %>" class="orgs_add_form">
                                                    <div class="form-group">
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                            <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                <img src="<%= data.coverImage %>" alt="" /> </div>
                                                                 <input type="file" name="fileToUpload" id="fileToUpload">
                                                            
                                                            <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                            
                                                        </div>

                                                        <div class="clearfix margin-top-10">
                                                            <span class="label label-danger">NOTE! </span>
                                                            <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                        </div>
                                                    </div>
                                                    <div class="margin-top-10">
                                                        
                                                         <button class="btn green" type="submit" id="updateOrg"> Submit </button>
                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <div id="tab_1_5" class="tab-pane">
                                                <form>
                                                    <div class="form-group">
                                                        <label class="control-label">Current Password</label>
                                                        <input type="password" class="form-control" name="current" id="current"> </div>
                                                    <div class="form-group">
                                                        <label class="control-label">New Password</label>
                                                        <input type="password" class="form-control" name="new" id="new"> </div>
                                                    <div class="form-group">
                                                        <label class="control-label">Re-type New Password</label>
                                                        <input type="password" class="form-control" name="confirm" id="confirm"> </div>
                                                    <div class="margin-top-10">
                                                        <button class="btn green" id="changepwd"> Change Password </button>
                                                        <a href="javascript:;" class="btn default"> Cancel </a>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- END CHANGE AVATAR TAB -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        </div>
    </div>
</div>
