
<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Accounting</span><i class="fa fa-circle"></i></li>
                <li><span>Ledger</span><i class="fa fa-circle"></i></li>
                <li><span>Cash</span></li>
            </ul>
            <div class="page-toolbar">
                <div id="date-range" class="pull-right btn btn-sm">
                    <i class="icon-calendar"></i>&nbsp;
                    <span class="thin uppercase"></span>&nbsp;
                    <i class="fa fa-angle-down"></i>
                </div>
            </div>
        </div>
        <h1 class="page-title"></h1>
        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> </div>
                <div class="portlet light bordered" id="cash_ledger_portlet">
                    <div class="portlet-title">
                        <div class="caption font-blue-hoki">
                            <i class="fa fa-money font-blue-hoki"></i>
                            <span class="caption-subject bold uppercase"> Cash Ledger </span>
                        </div>

                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green btn-outline" href="/cash-entry"><span><i class="icon-plus"></i> Add Cash Entry</span></a>

                            <%- partial('partials/al/table-tools') %>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="dataTables_wrapper no-footer">
                            <div class="portlet box table-filters hide">
                                <form class="horizontal-form">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-3 col-sm-6">
                                                <label class="control-label">Transaction Type</label>
                                                <select class="form-control select2-multiple select2-hidden-accessible" name="type" id="type">
                                                    <option value="-1" selected="true">All Modes</option>
                                                    <option value="payment">Payment</option>
                                                    <option value="receipt">Receipt</option>
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 hide" id="customerOption">
                                                <label class="control-label">Customer</label>
                                                <select id="customerId" class="form-control select2-multiple select2-hidden-accessible" name="customerId">
                                                </select>
                                            </div>
                                            <div class="col-md-3 col-sm-6 hide" id="vendorOption">
                                                <label class="control-label">Vendor</label>
                                                <select id="vendorId" class="form-control select2-multiple select2-hidden-accessible" name="vendorId">
                                                </select>
                                            </div>

                                            <div class="col-md-3 col-sm-6 hide">
                                            </div>

                                            <div class="col-md-3 col-sm-6 text-right pull-right">
                                                <label class="control-label">&nbsp;</label><br>
                                                <button id="filter-submit" class="btn green btn-outline">
                                                    <i class="fa fa-search"></i> Search
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            
                            <div class="portlet-body" id="tDiv">
                                <table class="table table-striped table-bordered table-hover table-checkable order-column" id="cash_ledger">
                                    <thead>
                                        <tr class="uppercase">
                                            <th class="table-checkbox">
                                                <input type="checkbox" class="group-checkable" data-set="#cash_ledger .checkboxes" /> </th>
                                            <th> Date </th>
                                            <th> Amount </th>
                                            <th> Item </th>
                                            <th> Party </th>
                                            <th> Reference # </th>
                                            <th> Description </th>
                                        </tr>
                                    </thead>
                                    <tbody id="tableData"></tbody>
                                    
                                    <input type="hidden" id="apiUrl" value="<%= api.url %>"/>
                                    <input type="hidden" id="token" value="<%= user.token %>"/>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function() {
        var token = '<%= user.token %>';
        var sUrl = '<%= api.url %>';
        
        $('.filter-btn').on('click', function(){
            $('.table-filters').toggleClass("hide");
        });

        getCashLedgerData(buildUrl(sUrl,'cash-ledger', token, '<%= defaults.psize %>'));

        $('#filter-submit').on('click', function(event){
            //var str = $('#reportrange span').html();
            //var dates = str.split(" - "); 
            //var fromDate = moment(dates[0], "MMMM D, YYYY");
            //var toDate = moment(dates[1], "MMMM D, YYYY");

            var fromDate = toDate = null;
            event.preventDefault();

            filterCashLedgerData(
                buildUrl(sUrl,'cash-ledger', token, '<%= defaults.psize %>'), 
                fromDate, toDate, 
                $('#customerId').val(), 
                $('#vendorId').val(), 
                $('#type').val()
            );
        });

        initDateRange(buildUrl(sUrl,'cash-ledger', token, '<%= defaults.psize %>'));

        populateTransactionTypes(true);
        populateCustomers(buildUrl(sUrl,'customers', token, '<%= defaults.psize %>'), true);
        populateVendors(buildUrl(sUrl,'vendors', token, '<%= defaults.psize %>'), true);
     });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.3/toastr.min.js"></script>
<script src="/js/onground/accounting/ledger/cash-ledger.js"></script>
