<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span>Accounting</span><i class="fa fa-circle"></i></li>
                <li><span>Entry</span><i class="fa fa-circle"></i></li>
                <li><span>Cash</span></li>
            </ul>
        </div>

        <h1 class="page-title"></h1>

        <div class="row">
            <div class="col-md-12">
                <div id="form-alerts"> </div>
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-title">
                        <div class="caption font-blue-hoki">
                            <i class="fa fa-money font-blue-hoki"></i>
                            <span class="caption-subject sbold uppercase"> Cash Entry</span>
                        </div>
                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green btn-outline" href="/cash-ledger"><span><i class="icon-notebook"></i> Cash Ledger</span></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <form action="<%= api.url %>/api/cash-entry?token=<%= user.token %>" id="cash_entry_form" class="form-horizontal">
                            <div class="form-body">
                                <div class="form-group">
                                    <label class="control-label col-md-3">Date
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" value="" size="16" class="form-control form-control-inline date-picker" name="tDate" id="tDate" data-date-format="dd-mm-yyyy">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Amount
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" name="amount" id="amount"> 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Type
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select class="form-control select2-multiple select2-hidden-accessible" name="type" id="type">
                                            <option value="receipt">Receipt</option>
                                            <option value="payment">Payment</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" id="customerOption">
                                    <label class="control-label col-md-3">Customer
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="customerId" class="form-control select2-multiple select2-hidden-accessible" name="customerId">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="help-block"><a data-toggle="modal" href="#addCustomerModal"><i class="icon-plus"></i> Add New</a></span>
                                    </div>
                                </div>
                                <div class="form-group hide" id="vendorOption">
                                    <label class="control-label col-md-3">Vendor
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="vendorId" class="form-control select2-multiple select2-hidden-accessible" name="vendorId">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="help-block"><a data-toggle="modal" href="#addVendorModal"><i class="icon-plus"></i> Add New</a></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Item
                                        <span class="required"> * </span>
                                    </label>
                                    <div class="col-md-4">
                                        <select id="itemId" class="form-control select2-multiple select2-hidden-accessible" name="itemId">
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <span class="help-block"><a data-toggle="modal" href="#addItemModal"><i class="icon-plus"></i> Add New</a></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Reference No</label>
                                    <div class="col-md-4">
                                        <input name="refNo" id="refNo" type="text" class="form-control" /> </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Description</label>
                                    <div class="col-md-4">
                                        <textarea rows="2" class="form-control" id="description" name="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button class="btn green" type="submit" id="addCashEntry"> Submit</button>
                                        <button type="reset" class="btn default">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- partial('partials/modal/addCustomer') %>
<%- partial('partials/modal/addVendor') %>
<%- partial('partials/modal/addItem') %>