<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span><a href="/coupons">Coupons</a></span><i class="fa fa-circle"></i></li>
                <li><span><%= couponId %></span></li>
            </ul>  
        </div>
        <h1 class="page-title"></h1>

        <div class="row">
            <div class="col-md-12 hidden" id="edit">
                <div id="form-alerts"> </div>
                <div class="portlet light portlet-fit portlet-form bordered">
                    <div class="portlet-title">
                        <div class="caption font-blue-hoki">
                            <i class="icon-bag font-blue-hoki"></i>
                            <span class="caption-subject sbold uppercase"> Coupon Information</span>
                        </div>
                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green blue-hoki btn-outline" href="javascript:;" id="showDetail"><span><i class="fa fa-reply"></i> Detail</span></a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-12" id="detail">
                <div id="form-alerts"> </div>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bag font-blue-hoki"></i>
                            <span class="caption-subject font-blue-hoki bold uppercase">Coupon Detail</span>
                            <!-- <span class="caption-helper">some info...</span> -->
                        </div>
                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green blue-hoki btn-outline" href="/coupon/<%= couponId %>/edit" ><span><i class="fa fa-edit"></i> Edit</span></a>
                            <a class="dt-button buttons-print btn green blue-hoki btn-outline" href="javascript:;" id="delete"><span><i class="fa fa-trash"></i> Delete</span></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <input type="hidden" id="couponId" value="<%= couponId %>">
                        <input type="hidden" id="url" value="<%= api.url %>/api/coupon/<%= couponId %>?token=<%= user.token %>">

                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Coupon:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayCouponName"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Coupon Type:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayCouponType"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Valid Till:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayValidTill"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Minimun Order:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayMinimumOrder"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Discount Type:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayDiscountType"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Amount/Percentage:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayAmount"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Terms & Condition:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayterms"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Description:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayDescription"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
