<div class="page-content-wrapper">
    <div class="page-content">
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li><span><a href="/dashboard">Home</a></span><i class="fa fa-circle"></i></li>
                <li><span><a href="/categories">Categories</a></span><i class="fa fa-circle"></i></li>
                <li><span><%= categoryId %></span></li>
            </ul>  
        </div>
        <h1 class="page-title"></h1>

        <div class="row">
            <div class="col-md-12" id="detail">
                <div id="form-alerts"> </div>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bag font-blue-hoki"></i>
                            <span class="caption-subject font-blue-hoki bold uppercase">Category Detail</span>
                            <!-- <span class="caption-helper">some info...</span> -->
                        </div>
                        <div class="dt-buttons pull-right">
                            <a class="dt-button buttons-print btn green blue-hoki btn-outline" href="/category/<%= categoryId %>/edit"><span><i class="fa fa-edit"></i> Edit</span></a>
                            <a id="piu" class="dt-button buttons-print btn green btn-outline" href="#"><span><i class="icon-plus"></i> Add Photos</span></a>
                            <a class="dt-button buttons-print btn green blue-hoki btn-outline" href="javascript:;" id="delete"><span><i class="fa fa-trash"></i> Delete</span></a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <input type="hidden" id="categoryId" value="<%= categoryId %>">
                        <input type="hidden" id="url" value="<%= api.url %>/api/category/<%= categoryId %>?token=<%= user.token %>">

                        <form class="form-horizontal" role="form">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Name:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayCategoryName"></p>
                                            </div>
                                        </div>

                                       <!--  <div class="form-group">
                                            <label class="control-label col-md-3">Parent:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayCategory"></p>
                                            </div>
                                        </div> -->
                                   
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Description:</label>
                                            <div class="col-md-9">
                                                <p class="form-control-static" id="displayDescription"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <img id="coverImage" width="100%"/>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>